@model StoneShop_Models.ViewModels.InquiryVM

<br />
<dir class="boreder p-3 bg-white">
	<div class="d-flex justify-content-between mb-3">
		<div class="p-2">
			<h2 class="text-info">Inquiry's List </h2>
		</div>
	</div>
	<table id="tbldata" class="fa-table table-striped table-bordered pt-2" style="width:100%">
		<thead class="thead-dark">
			<tr class="table-info">
				<th>@*@Model.InquiryHeader.*@Id</th>
				<th>@*@Model.InquiryHeader.*@FullName</th>
				<th>@*@Model.InquiryHeader.*@PhoneNumber</th>
				<th>@*@Model.InquiryHeader.*@Email</th>
				<th></th>
			</tr>
		</thead>
	</table>
</dir>

@section Scripts{
	
}